html, body, figure, figcaption, ul, li, h1 {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  text-align: inherit;
}

figure {
  position: relative;
  display: inline-block;
  border: 10px solid black;
}

ul {
  list-style: none;
}

li {
  float: left;
  width: 20px;
  height: 20px;
}

.game-over {
  position: absolute;
  font-size: 32px;
  width: 100%;
  height: 100%;
  text-align: center;
  background-color: rgba(0, 0, 0, 0.14);
}

.snake {
  background-color: black;
}

.apple {
  background-color: red;
}
